/* Colors dark to light */
$black: #000;
$black-title: #090E1A;
$dark: #212529;
$grey-aliz: #6F7581;
$grey: #6c757d;
$lightergrey: #ced4da;
$white: #ffffff;

/* Colors */
$turquoise: #B6F6FF;
$lightblue: #EFF4FF;
$aqua: #71DBEA;
$yellow: #FFCF59;
$orange: #FF9900;
$blue: #5a8aff;
$red: #f10000;
$lightgreen: #DDFCE8;


/* Font/text values */
$font-family-light: sans-serif;
$font-family-normal: sans-serif;
$font-family-medium: sans-serif;
$font-family-bold: sans-serif;




