.page {
    position: relative;
    z-index: 0;
    overflow: hidden;
    #firstPage {
        min-height: calc(100vh - 120px);
        background: conic-gradient(
            from -7.53deg at 60.13% 101.07%,
            #57baf5 -0.26deg,
            #5a8aff 334.03deg,
            #57baf5 359.74deg,
            #5a8aff 694.03deg
        );
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 1499.98px) {
}

@media screen and (max-width: 1199.98px) {
    .page {
        margin-top: 0;
        padding-top: 90px;
        #firstPage {
            min-height: calc(100vh - 90px);
        }
    }
}

@media screen and (max-width: 991.98px) {
    .page {
        #firstPage {
            padding-bottom: 120px;
        }
    }
}

@media screen and (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
}
